apiVersion: v1
clusters:
  - cluster:
      certificate-authority: {{ ca_cert_path }}
      server: https://localhost:{{ load_balancer_port }}
    name: {{ kube_context }}
contexts:
  - context:
      cluster: {{ kube_context }}
      user: {{ kube_context }}
    name: {{ kube_context }}
current-context: {{ kube_context }}
kind: Config
preferences: {}
users:
  - name: {{ kube_context }}
    user:
      client-certificate: {{ client_cert_path }}
      client-key: {{ client_key_path }}
