kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: {{ key_name }}
              secret: {{ key_secret }}
      - identity: {}
