[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config {{ kubelet_config_path }} \
  --container-runtime-endpoint unix:///var/run/containerd/containerd.sock \
  --kubeconfig /var/lib/kubelet/kubeconfig \
  --pod-manifest-path /etc/kubernetes/manifests \
  --register-node \
  --v 2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
